@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<div>
    @Html.DropDownList("ddlIds", (SelectList)ViewBag.SelectedIds)
    @Html.DropDownList("ddlUser", (SelectList)ViewBag.Result)
</div>
