@using Kendo.Mvc.UI;
@using CongThongTinSV.Models;
@{
    ViewBag.Title = "Quản lý tài khoản sinh viên trên Moodle";
}

@(Html.Kendo().DropDownList()
    .Name("ChuyenNganh")
    .OptionLabel("Chọn chuyên ngành")
    .HtmlAttributes(new {style="width:auto"})
    .DataTextField("Text")
    .DataValueField("Value")
        //.SelectedIndex(0)
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("GetChuyenNganh", "ChuyenNganh");
        }).ServerFiltering(true);
    })
    .Events(e =>
    {
        e.Change("loadGrid");
    })
    //.HtmlAttributes(new { style = "display: block;"})
)

@(Html.Kendo().Grid<CongThongTinSV.Models.MoodleSinhVien>()
    .Name("Grid")
    .Columns(columns => {
        columns.Bound(sv => sv.ID_sv)
            .ClientTemplate("<input type='checkbox' class='chkbx' value='#= ID_sv #'/>")
            .HeaderTemplate("<input type='checkbox' id='masterCheckBox' onclick='checkAll(this)'/>")
            .Width(40)
            .Title("")
            .HeaderHtmlAttributes(new { style = "text-align:center" })
            .HtmlAttributes(new { style = "text-align:center" })
            .Filterable(false).Groupable(false).Sortable(false);
        columns.Bound(sv => sv.Ma_sv).Width(80);
        columns.Bound(sv => sv.ID_moodle).Width(105);
        columns.Bound(sv => sv.Ho_dem).Width(150);
        columns.Bound(sv => sv.Ten).Width(80);
        columns.Bound(sv => sv.Ngay_sinh).Width(120).Format("{0:dd-MM-yyyy}");
        columns.Bound(sv => sv.Gioi_tinh).Width(100);
        columns.Bound(sv => sv.Lop);
    })
    .Pageable(pager => pager.PageSizes(new int[]{5, 10, 25, 50, 100, 1000}).Refresh(true).Input(true).Numeric(false))
    .Sortable(s => s.SortMode(GridSortMode.MultipleColumn))
    .Filterable()
    .Scrollable()
    .Groupable()
    .Resizable(r => r.Columns(true))
    .Reorderable(ro => ro.Columns(true))
    .Navigatable()
    //.ColumnMenu(menu => menu.Enabled(true).Sortable(false))
    .Selectable(s => s.Mode(GridSelectionMode.Single))
    .Events(e => {
                e.DataBound("onDataBound");
            })
    .DataSource(
        dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetSinhVien", "MoodleUser").Data("filterGrid"))
            .PageSize(5)
    )
)
<div>
    <button id="create">Đăng ký tài khoản</button>
    <button id="delete">Hủy đăng ký</button>
</div>

<script type="text/javascript">
    var selectedVals = [];

    function loadGrid() {
        selectedVals.splice(0, selectedVals.length);
        $("#Grid").data("kendoGrid").dataSource.read();
    }
    // on data bound, check checkboxes
    function onDataBound(e) {
        var ok = true;
        $('#Grid :checkbox').each(function () {
            var value = $(this).val()

            if (value != 'on') {
                var index = inArray(value, selectedVals);
                if (index >= 0) {
                    $(this).attr('checked', true);
                }
                else {
                    ok = false;
                }
            }
        });
        
        $('#masterCheckBox').attr('checked', ok);
    }

    function filterGrid() {
        return {
            id_chuyen_nganh: $("#ChuyenNganh").val()
        }
    }
    // on click checkbox cell in a row
    $(function () {
        $('#Grid').on('click', '.chkbx', function () {
            var state = $(this).is(':checked');
            var grid = $('#Grid').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));

            check(dataItem.ID_sv, state, selectedVals);
            $('#masterCheckBox').attr('checked', isCheckedAll());
        })
    })

    // return index of value in array
    // buils in function $.inArray not working in function check(value, state, array)
    function inArray(value, arr) {
        var len = arr.length;

        for (i = 0; i < len; i++) {
            if (value == arr[i])
                return i;
        }

        if(i == len){
            return -1;
        }
    }
    // update value to array
    function check(value, state, array) {
        if (value != 'on') {
            var index = inArray(value, array);

            if (!state && index != -1) {
                // remove id from the list
                array.splice(index, 1);
            } else if (index == -1) {
                // add id to list
                array.push(value);
            }
        }
    }

    function checkAll(ele) {
        var state = $(ele).is(':checked');

        $('#Grid :checkbox').each(function () {
            check($(this).val(), state, selectedVals);
            $(this).attr('checked', state);
        });
    }

    function isCheckedAll() {
        var ok = true;

        $('#Grid :checkbox').each(function () {
            if ($(this).val() != 'on' && !$(this).is(':checked')) {
                ok = false;
            }
        });
        return ok;
    }
    function processing(action, mess) {
        $.blockUI({
            message: mess,
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: .5,
                color: '#fff'
            }
        });

        $.ajax({
            url: action,
            //success: ,
            complete: function (e) {
                $("#Grid").data("kendoGrid").dataSource.read();
                $.unblockUI();
            },
            cache: false
        });
    }

    $("#create").click(function () {
        //window.location.href = '/MoodleUser/CreateSinhVien/?id_chuyen_nganh=' + jQuery("#ChuyenNganh").val() + '&selectedVals=' + selectedVals;
        processing('/MoodleUser/CreateSinhVien/?id_chuyen_nganh=' + jQuery("#ChuyenNganh").val() + '&selectedVals=' + selectedVals, "Đang tạo tài khoản moodle cho sinh viên...");
    })

    $("#delete").click(function () {
        if (confirm('Bạn muốn xóa toàn bộ các tài khoản moodle của các sinh viên đã chọn?')) {
            //window.location.href = '/MoodleUser/DeleteSinhVien/?id_chuyen_nganh=' + jQuery("#ChuyenNganh").val() + '&selectedVals=' + selectedVals;
            processing('/MoodleUser/DeleteSinhVien/?id_chuyen_nganh=' + jQuery("#ChuyenNganh").val() + '&selectedVals=' + selectedVals, "Đang xóa tài khoản moodle của sinh viên...");
        }
    })

</script>