@{
    ViewBag.Title = "Trang chủ cổng thông tin sinh viên Đại học Hàng Hải Việt Nam";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
