@if (Request.IsAuthenticated) {
    FormsAuthenticationTicket ticket = ((FormsIdentity)HttpContext.Current.User.Identity).Ticket;
    string token = (ticket.UserData.Split('|'))[1];
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @if (token != "exception")
        {
            <label style="display:inline">Đã đăng nhập Elearning</label>
        }
        else
        {
            <label  style="display:inline">Chưa đăng nhập Elearning</label>
        }
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))        
        {
            @Html.AntiForgeryToken()
            <button class="k-button" type="submit">Log off</button>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="k-button" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="k-button" })</li>
    </ul>
}
